body{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: grey;
    text-decoration: none;
}
nav a#this{
    color: white !important;
}

nav a:hover{
    color: lightgrey;
    cursor: pointer;
}

#title{
    background-image: linear-gradient(white,black), url(Imagenes/caminando.jpg);
    background-size: cover;
    height: 720px;
    filter: grayscale();
    background-blend-mode: darken;
}

#title:hover{
    filter: contrast(1.5) saturate(1.5);
    cursor: default;
}

#title h1{
    text-align: center;
    padding-top: 6em;
    font-size: 6em;
    margin-top: 10px;
}
h2{
    text-align: center;
}
iframe{
    display: block;
    margin: 0 auto;
    padding: 1em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 4em;
}

#videos iframe{
    padding: 1em;
    margin-bottom: 1em;
}

.desc{
    text-align: center;
    color: grey;
}

#about{
    padding-left: 8em;
    padding-right: 8em;
    text-align: justify;
}

#boutUs{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2em;
}

#album{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

#about img{
    filter: grayscale();
}
#about img:hover{
    filter: none;
}
#albumCover{
    max-width: 20em;
}

#bandPic{
    max-width: 100%;
}